.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgba(0, 12, 1, 0.11);
}

.controls-item {
  display: inline-block;
}

.btn {
  background: #ddd;
  color: #2c303a;
  height: 35px;
  border-radius: 2px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition:  0.3s ease;
  margin: 0 2px
}
button {
  background:none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
}
